<!DOCTYPE html>
<html>
<head>
  <title>PeerGear</title>
	<meta name="keywords" content="<%= @meta_keywords %>" />
	<meta name="description" content="<%= @meta_description %>" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render "3rd_party/google" %>
</head>
<body class="application <%= controller.controller_name %> <%= controller.controller_name %>-<%= controller.action_name %>">
  <%= render "shared/notice" %>
  <div class="yield">
    <%= yield %>
  </div>
<!--   <div class="about">
    <%= render "shared/about" %>
  </div>  -->
  <div class="contact">
    <%= render "shared/contact" %>
  </div>
  <%= render "shared/footer" %>
</body>
</html>
